<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <td>
      <a href="/company-profile/<%= companyProfile[0].company_profile_id %>"
        >See</a
      >
      <h1><%= companyProfile.name %></h1>
    </td>
  </body>
</html>
