<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="../public/js/company_dashboard.js"></script>
    <title>Company dashboard</title>
  </head>
  <body>
    <h1>Company Dashboard</h1>
    <div class="head-back">
      <input
        type="text"
        id="searchInput"
        placeholder="Search"
        class="official-input"
      />
      <button id="addCompanyBoutton" class="btn btn-primary">
        Add company
      </button>
    </div>
    <div
      id="addCompanyModal"
      class="modal modal-dialog-scrollable"
      style="display: none"
    >
      <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h2>Add client</h2>
        <form
          action="/add-company-dashboard"
          method="POST"
          class="official-form"
        >
          <label for="name">Name :</label>
          <input
            type="text"
            id="name"
            name="name"
            class="official-input"
            required
          /><br />

          <input type="submit" value="Add company" id="addClientDashboard" />
        </form>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Profile</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% companyProfile.forEach(companyProfile => { %>
        <tr class="table-row">
          <td><%= companyProfile.company_profile_id %></td>
          <td><%= companyProfile.name %></td>
          <td>
            <a href="/company-profile/<%= companyProfile.company_profile_id %>"
              >See</a
            >
          </td>
          <td>
            <form
              action="/delete-company-profile/<%= companyProfile.company_profile_id%>"
              method="post"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
          <% }); %>
        </tr>
      </tbody>
    </table>
  </body>
</html>
