<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <!-- Inclure des liens vers des fichiers CSS ou d'autres ressources si nécessaire -->
</head>
<body>
<div>><h1>THE DASHBOARD </h1>></div>
</body>
</html>
