<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Main Dashboard</title>
  </head>
  <body>
    <h1>Training Form</h1>

    <form action="/add-training-client" method="POST" class="official-form">
      <label for="certificationCode">Certification code :</label>
      <input
        type="text"
        id="certificationCode"
        name="certificationCode"
        class="official-input"
        required
      /><br />

      <label for="fullName">Fullname :</label>
      <input
        type="text"
        id="fullName"
        name="fullName"
        class="official-input"
        required
      /><br />

      <label for="company">Company:</label>
      <input
        type="text"
        id="company"
        name="company"
        class="official-input"
      /><br />

      <label for="position">Position :</label>
      <input
        type="text"
        id="position"
        name="position"
        class="official-input"
      /><br />

      <label for="email">Email :</label>
      <input
        type="email"
        id="email"
        name="email"
        class="official-input"
        required
      /><br />

      <label for="telephone">Telephone:</label>
      <input
        type="text"
        id="telephone"
        name="telephone"
        class="official-input"
      /><br />

      <label for="date">Date :</label>
      <input type="date" id="date" name="date" class="official-input" /><br />

      <label for="title">Title :</label>
      <input type="text" id="title" name="title" class="official-input" /><br />

      <label for="futureTopics">Future Topics:</label>
      <input
        type="text"
        id="futureTopics"
        name="futureTopics"
        class="official-input"
      /><br />

      <label>Where do you come from :</label>
      <div class="radio-button">
        <label for="corporate">Corporate</label>
        <input
          type="radio"
          id="corporate"
          name="trainingType"
          value="corporate"
        />
        <label for="public">Public training</label>
        <input type="radio" id="public" name="trainingType" value="public" />
        <label for="idk">I don't know</label>
        <input type="radio" id="idk" name="trainingType" value="not know" />
      </div>
      <br />

      <input type="submit" value="Register" id="addClientDashboard" />
    </form>
  </body>
</html>
