<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <h1>Register REDIRECT</h1>

    <div class="flex">
      <div class="dashboard-card">
        <a href="/register-redirect/training" class="dashboard-link">
          <p>Participant</p></a
        >
      </div>
      <div class="dashboard-card">
        <a href="/company-dashboard" class="dashboard-link"> <p>Company</p></a>
      </div>
    </div>
  </body>
</html>
