<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>test</h1>
    <form action="/test/:id" method="post">
        <form class="is-readonly" action="/training-user/:id" method="post">
              <label for="certificationCode">Certification Code</label>
              <input type="text" class="form-control is-disabled" id="certificationCode" placeholder="test" value="test" name="test">
              <input type="submit" value="Save">
    </form>
</body>
</html>