form {
  margin: 0;
  padding: 0;
  border: none;
}

/* Style de la page */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#login-form {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-form {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.official-form {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Style des étiquettes et des champs de formulaire */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.official-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style de la page */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style du bouton de soumission */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit-save {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

thead {
  background-color: #1e90ff;
  color: #fff;
  text-align: left;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Masque le texte dépassant de la cellule */
  text-overflow: ellipsis; /* Ajoute des points de suspension (...) pour le texte dépassant */
  max-width: 150px; /* Définit la largeur maximale avant d'ajouter les points de suspension */
}

tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Style pour le texte en gras (comme le nom complet, la société, etc.) */
strong {
  font-weight: bold;
}

/* Styles pour la boîte modale */
.modal {
  display: none; /* Par défaut, la boîte modale est masquée */
  position: fixed; /* Positionnement fixe pour couvrir toute la fenêtre */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
}

.modal-content {
  background-color: #fff; /* Couleur de fond de la boîte modale */
  margin: 1% auto; /* Centrer la boîte modale verticalement */
  padding: 20px;
  border: 1px solid #333; /* Bordure de la boîte modale */
  border-radius: 5px;
  width: 70%;
  max-width: 400px; /* Largeur maximale de la boîte modale */
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333; /* Couleur de la croix pour fermer la boîte modale */
}

.modal-dialog-scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #000;
}

#addClientBoutton {
  color: #000000;
  background-color: #fff;
  width: 122px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #000;
  transition: all 0.2s ease-in-out;
  cursor: -webkit-pointer;
  cursor: pointer;
}

#addClientBoutton:hover {
  background-color: #000000;
  color: #fff;
}

#add-experience {
  margin-top: 2%;
  width: 20%;
  height: 13%;
  box-shadow: 0 0 4px #888;
}

#add-formation {
  margin-top: 2%;
  width: 20%;
  height: 13%;
  box-shadow: 0 0 4px #888;
}

#editUser {
  color: #000000;
  background-color: #fff;
  width: 80px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#deleteUser:hover {
  background-color: #000000;
  color: #fff;
}

#deleteUser {
  color: #000000;
  background-color: #fff;
  width: 80px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: block;
  margin-top: 1%;
}

#editUser:hover {
  background-color: #000000;
  color: #fff;
}

input[type="date"] {
  background-color: #ffffff;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 4px;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 4%;
}

.error-login-message {
  color: red;
  margin-bottom: 4%;
}

input[type="file"] {
  display: block;
  width: 90%;
  height: 30px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    border-color: #000;
  }

  &::-webkit-file-upload-button {
    display: none;
  }

  &:after {
    content: "Choisir un fichier";
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    margin-left: 2%;
  }
}

.table-row:hover {
  cursor: pointer; /* Curseur de la souris en forme de main pour indiquer que c'est cliquable */
  background-color: #ccc9c9; /* Changer la couleur de fond lorsqu'il est survolé */
  color: rgb(
    24,
    24,
    155
  ); /* Changer la couleur du texte en bleu lorsqu'il est survolé */
}

#addClientDashboard {
  color: #000000;
  background-color: #fff;
  width: 90px;
  height: 40px;
  border: 0.5px solid #000;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #000;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.container {
  margin-top: 5%;
  margin-left: 20%;
  font-size: 16px;
  background-color: #fff; /* Set background color to white */
  padding: 20px; /* Add padding for better spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 10px; /* Add rounded corners */
}

/* Add some styling for the form */
form {
  max-width: 400px; /* Limit form width for better readability */
  margin: auto; /* Center the form */
}

/* Style input fields */
.form-control {
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Style the Edit button */
.btn-edit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the Save button */
.btn-save {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hide the Save button by default */
form.is-readonly .btn-save {
  display: none;
}

/* Style the form when in editing mode */
form.is-editing {
  background-color: #f8f9fa; /* Light gray background for editing mode */
}

/* Style disabled input fields in editing mode */
form.is-editing .form-control:disabled {
  background-color: #fff;
  border-color: #ddd;
}

/* Style the form-group labels */
.form-group label {
  font-weight: bold;
}

/* Center the buttons */
button {
  display: block;
}

#importExel {
  margin-top: 2%;
}

#import-excel-button {
  margin-top: 2%;
}

.full-name {
  font-size: 80px;
  margin-top: 4%;
  margin-right: 20%;
  margin-left: 5%;
}

.avatar {
  vertical-align: middle;
  width: 180px;
  height: 180px;
  border-radius: 180%;
  margin-left: 6%;
  margin-top: 1%;
}

.header-background {
  background-color: #fff;
  margin: 1% auto; /* Centrer la boîte modale verticalement */
  padding: 20px;
  border-radius: 5px;
  width: 60vw;
  height: 20vh;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 3px 3px 3px #ccc;
}

.main-background {
  background-color: #fff;
  margin: 2% auto; /* Centrer la boîte modale verticalement */
  padding: 20px;
  border-radius: 5px;
  width: 60vw;
  height: 65vh;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px #ccc;
  height: auto;
  min-height: 65vh;
}

.experience-container {
  margin-top: 10px;
}

.experience-modal {
  background-color: #fff; /* Couleur de fond de la boîte modale */
  margin: 1% auto; /* Centrer la boîte modale verticalement */
  padding: 20px;
  border: 1px solid #333; /* Bordure de la boîte modale */
  border-radius: 5px;
  width: 70%;
  max-width: 400px; /* Largeur maximale de la boîte modale */
  position: relative;
}

.main-boutton {
  height: 8%;
  width: 14%;
  z-index: 10;
  margin-left: 1%;
}

.main-boutton {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 0.5%;
  margin-top: 0;
}

.main-boutton:hover,
.main-boutton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.main-boutton:hover {
  transform: translateY(-1px);
}

.main-boutton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* Experience Box */

.experience-box {
  background-color: #fefefe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2%;
  border-radius: 4%;
  width: auto;
  margin-top: 3%;
}

.formation-box {
  background-color: #fefefe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2%;
  border-radius: 4%;
  width: 45%;
  margin-top: 3%;
}

#pdf-panel {
  background-color: #fefefe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2%;
  border-radius: 4%;
  width: 35%;
  margin-top: 3%;
}

.start-date,
.end-date,
.description {
  font-size: 20px;
  font-weight: 400;
}

#experience-title {
  margin-right: 87%;
  font-size: 150%;
}

.job-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

.company-name {
  font-size: 23px;
  font-weight: 450;
  margin-bottom: 10px;
}

.start-date,
.end-date {
  color: #999;
}

.description {
  margin-top: 3%;
  margin-bottom: 2%;
}

.head-back {
  width: 100%;
  display: flex;
}

#searchInput {
  width: 100%;
  margin-right: 2%;
}

#delete-company-experience {
  margin-left: 55%;
}

.flex-experience-form {
  display: flex;
}

.flex-formation-pdf {
  display: flex;
}

#formation-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

#trainer-name {
  font-size: 23px;
  font-weight: 450;
  margin-bottom: 10px;
}
